body {
   margin: 0px;
}

#discover--container {
   display: flex;
   width:100%;
}

#discover__sidebar {
   position: sticky;
   padding-right: 137px;
   background-color: #2F3136;
   top: 0px;
   height: 100vh;
}

#discover__sidebar--title {
   font-size: 24px;
   margin:0px;
   margin-top:16px;
   margin-left:15px;
   color:white;
}

#discover {
   overflow-x: hidden;
   background-color: #36393F;
   width:100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;

}

#discover__svg--container {
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45vh;
}

#discover__servers {
   display: grid;
   grid-gap: 5px;
   grid-template-columns: repeat(auto-fit, 300px);
   grid-template-rows: repeat(auto-fill, 350px);
   justify-content: center;
   height: 55vh;
}

#discover__svg--title {
   /* position: absolute; */
   /* top: 130px; */
   color: white;
}

#discover--svg {
   background-image: url("../../images/3e0acf6d69894a5d20deb7c513cd1412.svg");
   width: 1064px;
   height: 332px;
   margin: 15px 30px;
   border-radius: 8px;
   background-repeat: no-repeat;
   object-fit: contain;
   display: flex;
   justify-content: center;
   align-items: center;
}

.server__container {
   width: 282px;
   height: 320px;
   border-radius: 8px;
   margin:15px;
   background-color: #292B2F;
   position: relative;
}

.server__container--img img {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   width: 282px;
   height: 143px;
   object-fit: cover;
}

.server__container--title {
   color: white;
   font-size: 20px;
   margin-top: 5px;
   margin-left: 10px;
   font-family: "Inria Sans", sans-serif;
}

.server__container--button {
   color: white;
   background-color: #36393F;
   border: none;
   border-radius: 4px;
   padding: 5px 10px;
   transition: background-color 0.15s ease-in;
   cursor: pointer;
   text-align: center;
   position: absolute;
   bottom: 15px;
   right: 10px;
}

.server__container--button:disabled {
   background-color: #424346;
   opacity: 0.7;
   color: rgb(187, 187, 187);
   cursor:not-allowed;
}

.server__container--button:hover {
   border-color: black;
   background-color: #494c53;
}
